{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container mx-auto p-6">
        <h1 class="text-4xl font-bold mb-6">Mon profil</h1>

        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-semibold mb-4">Mes informations :</h2>
            <ul class="text-gray-700 text-lg space-y-2">
                <li><strong>Nom :</strong> {{ app.user.lastname }}</li>
                <li><strong>Prénom :</strong> {{ app.user.firstname }}</li>
                <li><strong>Email :</strong> {{ app.user.email }}</li>
                <li><strong>Rôle(s) :</strong> {{ app.user.roles|join(', ') }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
